@model IEnumerable<UserInfoApp.Models.UserInfo>

<h1>User List</h1>
<a href="@Url.Action("Create")">Create New User</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    <a href="@Url.Action("Delete", new { id = user.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
